doctype html
html(lang = 'en')
head
    title Welcome
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")
    link(rel='stylesheet', href="/stylesheets/styles.css")

  body
    .navbar.navbar-default(role= 'navigation')
        .container
        .navbar-header
          button.navbar-toggle(type='button',data-toggle='collapse',data-target='.navbar-collapse')
          span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
         a.navbar-brand(href='#') NodeAuth
         .navbar-collapse.collapse
            ul.nav.navbar-nav
            li(class=(title == 'Members' ? 'active' : '')): a(href='/') Members
            li(class=(title == 'Register' ? 'active' : '')): a(href='/users/register') Register
            li(class=(title == 'Login' ? 'active' : '')): a(href='/users/login') Login
            ul.nav.navbar-nav.navbar-right
            li: a(href='/users/login') Logout

            

    .container
    != messages()
     block content
     script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
     script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js")
