extends layout

block content
 h2.page-header Login
 p Please Login below
 if errors
  each error, i in errors
   div.alert.alert-danger #{error.msg}
 form(method= 'post', action='/users/login')
  .form-group
   label UserName
   input.form-control(name='username',type='text',placeholder='Enter username')
   .form-group
   label Password
   input.form-control(name='password',type='password',placeholder='Enter password')
  input.btn.btn-primary(type='submit',name = 'submit', value='Login')